/* You can add global styles to this file, and also import other style files */
@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/bootstrap4-light-blue/theme.css';
@import '~primeng/resources/primeng.min.css';

$dark-blue: #20262e;
$logo-red: #d80505;
$logo-text-red: #ff0000;
$background: white;
$light-text: #e5edfe;
$light-text2: #ccd4f4;
$light-blue-background: #cee2ea;
$light-background: rgb(106, 120, 145);
$logo-lighter-light-blue: #56d2ff;
$logo-light-blue: #0579cc;
$logo-lighter-dark-blue: #5678c0;
$background-lighter-dark-blue: #0f234d;
$logo-dark-blue: #052569;
$dark-background: #021131;
$text: rgba(0, 0, 0, 0.7);

body {
  background: $dark-background;
  margin-bottom: 0;
}

h1,h2,h3 {
  color: $dark-background;
}

p, li {
  color: $dark-blue;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(86, 210, 255, 0.75), rgba(0, 0, 0, 0));
}

.dark-hr{
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(2, 17, 49, 0.75), rgba(0, 0, 0, 0));
}

.light-background{
  background: $light-blue-background;
}

.light-text{
  color: $light-text;
}

.light-blue-text{
  color: $light-blue-background;
}
.padding-0 {
  padding: 0;
}
.padding-bot-0{
  padding-bottom: 0;
}
.top-padding-25 {
  padding-top: 6rem !important;
}

.bot-padding-5rem {
  padding-bottom: 5rem !important;
}

.bot-padding-10rem {
  padding-bottom: 10rem !important;
}

.p-col-padding {
  padding: 20px;
}

.margin-0 {
  margin: 0;
}

.overflow {
  overflow: auto;
}

.text-align-center {
  text-align: center;
}


.title{
  height: 8rem;
  background: $dark-background;
}

.title h1{
  color: $light-text;
}


.transition {
  position: relative;
  width: 100%;
  height: 15vh;
  margin: 0 auto;
  overflow: hidden;
  background: $dark-background;
}
.transition::after {
  content: "";
  position: absolute;
  background-color: $light-blue-background;
  padding-bottom: 141.42136%;
  width: 100%;
  bottom: 0;
  left: 0;
  -webkit-transform: rotate(85.5deg);
  transform: rotate(85.5deg);
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom;
}



.transition-V {
  position: relative;
  width: 100%;
  height: 15vh;
  margin: 0 auto;
  overflow: hidden;
  background:$light-blue-background;
}
.transition-V::after {
  content: "";
  position: absolute;
  background-color: $dark-background;
  padding-bottom: 141.42136%;
  width: 110%;
  bottom: 0;
  right: 0;
  -webkit-transform: rotate(3.65deg);
  transform: rotate(3.65deg);
  -webkit-transform-origin: right bottom;
  transform-origin: right bottom;
}

.transition_l_d {
  position: relative;
  width: 100%;
  height: 15vh;
  margin: 0 auto;
  overflow: hidden;
  background: $light-blue-background;
}

.transition_l_d::after {
  content: "";
  position: absolute;
  background-color: $dark-background;
  padding-bottom: 141.42136%;
  width: 100%;
  bottom: 0;
  left: 0;
  -webkit-transform: rotate(85.5deg);
  transform: rotate(85.5deg);
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom;
}
